.btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.btn:hover {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    background-color: #dbdbdb;
}

/* .count {
    justify-content: center;
    width: 84px;
    height: 84px;
    border-radius: 10%;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    background-color: #dbdbdb; */
/* } */